body
{
    background-color: #090e11;
}
#MainSection .MainSecChild_IMGDIV
{
    transition: .5s ease;
    position:absolute;
    width: 30%;
    height: 50%;
    background-color: rgb(0, 207, 111);
    resize: both;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#MainSection .MainSecChild_IMGDIV div
{
    width: 100%;
    height: 95%;
    position: absolute;
    top: 5%;
    overflow-y: scroll; 
}

#MainSection .MainSecChild_IMGDIV div img
{
    width: 100%;
}
#MainSection
{
    position: absolute;
    width: 95%;
    height: 90%;
    overflow: scroll;
}