body
{
    background-color: #090e11;
}
#MainSection .MainSecChild_IMGDIV
{
    transition: top .5s , left .5s , opacity .5s;
    position:absolute;
    width: 30%;
    height: 50%;
    background-color: rgb(0, 207, 111);
    resize: both;
    overflow: hidden;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
#MainSection .MainSecChild_IMGDIV div
{
    width: 100%;
    height: 95%;
    /* position: absolute;
    top: 5%; */
    overflow-y: scroll;
}

#MainSection .MainSecChild_IMGDIV button
{
    width: 40px;
    height: 20px;
    border: none;
    cursor: pointer;
}
.deleteButton
{
    border-top-left-radius: 7px;
    color: rgba(255, 255, 255, 0.877);
    background-color: rgba(209, 47, 47, 0.836);
}
.deleteButton:hover
{
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
}
.addButton
{
    color: rgba(255, 255, 255, 0.87);
    background-color: #001064d1;
    font-weight: bolder;
}
.addButton:hover
{
    color: rgb(255, 255, 255);
    background-color: #001164;
}
#MainSection .MainSecChild_IMGDIV div img
{
    width: 100%;
    height: 100%;
}
#MainSection .MainSecChild_VIDDIV
{
    transition: left .5s,top .5s , opacity .5s;
    resize: both;
    overflow: hidden;
    width: 50%;
    height: 50%;
    position: absolute;
}
#MainSection .MainSecChild_VIDDIV button
{
    position:absolute;
    border: none;
    border-top-left-radius: 10px;
    color: rgba(255, 255, 255, 0.801);
    background-color: rgba(255, 0, 0, 0.747);
    cursor: pointer;
}
#MainSection .MainSecChild_VIDDIV button:hover
{
    color: white;
    background-color: red;
}
#MainSection .MainSecChild_VIDDIV video
{
    width: 100%;
    height: 100%;
    border-radius: 25px;
    background-color: #21996752;
}
#MainSection
{
    position: absolute;
    width: 99%;
    height: 90%;
    overflow: scroll;
}
#ToolSection
{
    width: 99%;
    height: 8%;
    position: absolute;
    top: 92%;
    background-color: #01051e;
    display:flex;
    align-items: center;
}
